@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#toolbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
}

#toolbar .logo {
  margin-left: 1.5rem;
  color: #fff;
}

#toolbar .logo a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
}

.union {
  width: 18px;
  height: 12px;
  margin-right: 41px;
  align-items: flex-end;
}

#headline {
  background-color: #1c1a19;
  height: 100vh;
  background-image: url("./images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 99% 70%;
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
}

#heheadline .headline_text {
  margin-top: 3.5rem;
  max-width: 35.375rem;
}

#headline .headline_text .title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#headline .headline_text .subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff5e1;
}

#headline .headline_text .text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.8px;
  color: #fff;
  margin-top: 0.5rem;
}

.icons ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  list-style: none;
  width: 170px;
  margin-top: 2rem;
  margin-left: 10px;
  margin-right: 105px;
  padding-left: 0;
}

.icons li {
  align-items: flex-start;
  padding-left: 0;
}

.icons img {
  width: 20px;
  height: 20px;
}


